
.authors-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
}

.each-author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.author-button-group {
    display: flex;
    flex-direction: row;
}

.button-l-space {
    margin-left: .5rem;
}