<h2>New Book</h2>
<div class="card">

<form action="/books" method="POST">
    <%- include('./_form_fields.ejs') %> 
    <div class="button-right-align">
        <a href="/books" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
</div>
