<footer class="footer">
    <div class="slogen">
        <div class="slogen-logo">BOOKSHELF</div>
         — Your Reading Road Map
    </div>
    <div class="copyright">
        Copyright 2021 © Shiqi He
    </div>
</footer>